.h3{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 27px;
	text-align: center;
	margin: 0;
}

.body{
	margin: 0;
}

.header{
	display: flex;
	flex-direction: column;
}

.header_top_line{
	background-color: white;
	height: 40px;
	width: 100%;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header_top_phone{
	padding-left: 5%;
}

.div_social_networks{
	padding-right: 5%;
}

.social_networks{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80px;
	margin: 0;
	padding: 0;
}

.header_top_img{
	height: 20px;
}

.main_image{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
	background-image: url(./image/Sea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.main_image_text{
	width: 80%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-align: left;
	color: #FFFFFF;
	margin: 0;
}

.header_name{
	padding-left: 5%;
	padding-top: 5%;
	position: relative;
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	color: #FFFFFF;
	font-size: 70px;
	margin: 0;
}

.title_under{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	color: #FFFFFF;
	font-size: 25px;
	margin: 0;
	
}

.title_link{
	text-decoration: none;
	color: black;
}

.header_navigator{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 400px;
	padding-left: 5%;
	padding-bottom: 5%;
	margin: 0;
	position: relative;
}

.header_navigator_order{
	border: solid;
    border-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
}

.header_navigator_other{
	border: solid;
    border-color: #F65F3C;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #F65F3C;
}


.header_navigator_link{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 6px;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
	font-variant: all-petite-caps;
	text-align: center;
}

.types{ 
	display: flex;
	flex-direction: column;
	align-items: center;
}

.types_places{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 500px;
	width: 100%;
	margin-top: 50px;
}

.types_places_name{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 35px;
	text-align: center;
	padding-top: 50px;
	margin: 0;
}

.types_places_list{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	padding: 0;
}

.types_places_list_li{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 150px;
}

.types_place_list_image{
	height: 60px;
}

.types_places_list_name{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 20px;
	font-variant: all-petite-caps;
	text-align: center;
}

.types_water{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.types_water_div{
	width: 500px;
	margin: 50px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.type_image{
	width: 500px;
	padding-bottom: 30px;
}

.type_sea_text{
	width: 400px;
	position: relative;
}

.type_sea_text_p{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}

.products{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

.products_div{
	width: 100%;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 50px;
}

.products_div_order{
	width: 100%;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #F4F4F4; 
}

.products_div_image{
	width: 400px;
	padding-left: 20px;
	padding-right: 20px;
}

.products_image{
	height: 400px;
}

.products_div_text{
	height: 400px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}

.products_div_text_name{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 35px;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}

.products_div_text_p{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
}

.products_div_text_list{
	list-style: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

.products_div_text_list_li::before{
	color: blue;
	content: "-";
	padding-right: 10px;
}

.products_order{
	height: 44px;
	width: 300px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
    background-color: #F65F3C;
    margin-top: 30px;
}

.section_contacts{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
	margin-top: 150px;
}

.contacts{
	display: flex;
	justify-content: center;
}

.contacts_list{
	width: 400px;
	padding-right: 50px;
}

.contacts_list_ul{
	list-style: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	font-variant: all-petite-caps;
	padding-top: 20px;
	margin: 0;
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.contacts_form{
	padding-left: 50px;

}

.contacts_link{
	text-decoration: none;
	color: black;
	font-weight: 400;
}

.contacts_link:hover{
	text-shadow: 0px 0px 1px #4ac8ec;
}

.form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 500px;
	width: 400px;
}

.form_input{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid;
	border-color: black;
	border-width: 2px;
	height: 40px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.form_input:focus{
	outline: 0;
	outline-offset: 0;
	background-color: #F4F4F4;
}

.form_placeholder{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
	font-variant: all-petite-caps;
	margin-top: -20px;
}

.form_text{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid black 2px;
	height: 100px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.form_text:focus{
	outline: 0;
	outline-offset: 0;
	background-color: #F4F4F4;
}

.form_button{
	height: 40px;
	font-family: 'Rubik', sans-serif;
	font-variant: all-petite-caps;
	font-weight: 300;
	font-size: 18px;
	color: white;
	background-color: black;
	border: none;
}

.footer{
	margin-top: 150px;
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
}

.footer_copyright{
	font-family: 'Rubik', sans-serif;
	font-variant: all-petite-caps;
	font-weight: 300;
	font-size: 14px;
	color: white;
	text-align: center;
}

.copyright_text{
	margin: 5px;
}

.link_copyright{
	text-decoration: none;
	color: white;
}

.toTop{
	position: fixed;
	top: 0;
	width: 100%;
    padding: 0px;
    z-index:99991;
}

.toTop_link{
	font-family: 'Rubik', sans-serif;
	font-variant: all-petite-caps;
	font-weight: 300;
	font-size: 18px;
	color: white;
    height: 20px;
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;
}

.toTop_link:hover{
	height: 30px;
    background: rgba(0,0,0,1);
    -webkit-transition: all linear 0.2s; 
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: white;
}