.navigation_bar{
	width: 100%;
	height: 90px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.navigation{
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.navigation_li{
	width: 95px;
	height: 20px;
	padding: 20px;
	border: solid;
	border-color: black;
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
	border-width: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	word-wrap: break-word;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 17px;
	font-variant: all-petite-caps;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
}

.navigation_li_last{
	width: 95px;
	height: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	word-wrap: break-word;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 17px;
	font-variant: all-petite-caps;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
}

.navigation_li_link{
	text-decoration: none;
	color: black;
}

.h3{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 35px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	margin: 0;
	padding-left: 20px;
    padding-right: 20px;
}

.body{
	margin: 0;
}

.header{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.div_social_networks{
	padding-right: 5%;
}

.social_networks{
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 80px;
	margin: 0;
	padding: 0;
}

.header_top_img{
	height: 20px;
}

.main_image{
	width: 100%;
	margin-top: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 600px;
	background-image: url(./image/Sea.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: center;
	background-position-x: center;
}

.header_name{
	padding-left: 5%;
	padding-top: 5%;
}

.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	color: #FFFFFF;
	font-size: 70px;
	margin: 0;
}

.title_under{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	color: #FFFFFF;
	font-size: 25px;
	margin: 0;
	
}

.title_link{
	text-decoration: none;
	color: black;
}

.header_navigator{
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 400px;
	padding-left: 5%;
	padding-bottom: 5%;
	margin: 0;
}

.header_navigator_order{
	border: solid;
    border-color: white;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.header_navigator_other{
	border: solid;
    border-color: #F65F3C;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #F65F3C;
}


.header_navigator_link{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 6px 30px;
	color: #FFFFFF;
	font-size: 20px;
	text-decoration: none;
	font-variant: all-petite-caps;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
}

.types{ 
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.types_places{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	min-height: 500px;
	width: 100%;
	margin-top: 50px;
}

.types_places_list{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	list-style: none;
	padding: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.types_places_list_li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 250px;
	padding-left: 10px;
	padding-right: 10px;
	height: 250px;
}

.types_place_list_image{
	height: 60px;
}

.types_places_list_name{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 25px;
	font-variant: all-petite-caps;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.types_places_list_text{
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
}

.types_water{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	width: 100%;
}

.types_water_div{
	width: 45%;
	min-width: 300px;
	max-height: 600px;
	margin: 0px 10px 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.type_image{
	width: 100%;
	max-height: 380px;
	padding-bottom: 5%;
}

.type_sea_text{
	width: 90%;
}

.type_sea_text_p{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	margin: 5% 0 0;
}

.products{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 50px;
}

.products_top{
	width: 100%;
	height: 450px;
	background-image: url(./image/Discus.jpg);
	background-size: cover;
	background-position-y: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.products_top::before{
	content: '';
	width: 100%;
	height: 450px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
}

.products_top_h2{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-variant: all-petite-caps;
	font-size: 30px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	margin: 0;
	display: none;
	color: white;
	position: relative;
	padding-bottom: 100px;
}

.products_top_list{
	font-family: 'Rubik', sans-serif;
	width: 90%;
	font-weight: 300;
	font-variant: all-petite-caps;
	font-size: 25px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	margin: 0;
	padding: 0;
	color: white;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	list-style: none;
}

.products_div{
	width: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	padding-top: 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.products_div_reverse{
	width: 100%;
	height: -webkit-max-content;
	height: -moz-max-content;
	height: max-content;
	padding-top: 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.products_div_order{
	width: 100%;
	padding-top: 5%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #F4F4F4; 
}

.products_div_image{
	width: 35%;
	min-width: 250px;
	padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
}

.products_div_image_key{
	width: 30%;
	min-width: 200px;
	padding: 0 20;
}

.products_image{
	width: 100%;
	max-width: 450px;
}

.products_image_key{
	width: 100%;
	max-width: 350px;

}

.products_div_text{
	width: 50%;
	min-width: 270px;
	padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
	max-width: 450px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.products_div_text_key{
	width: 50%;
	min-width: 270px;
	padding-left: 2%;
    padding-right: 2%;
	max-width: 450px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.products_div_text_name{
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-variant: all-petite-caps;
	font-size: 35px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
}

.products_div_text_p{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	margin: 5px;
}

.products_div_text_list{
	list-style: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

.products_div_text_list_li::before{
	color: blue;
	content: "-";
	padding-right: 10px;
}

.products_order{
	height: 44px;
	width: 80%;
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    background-color: #F65F3C;
    margin-top: 2%;
    margin-bottom: 10%;
}

.section_contacts{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 100px;
}

.contacts{
	padding-top: 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
}

.contacts_list{
	width: 30%;
	min-width: 200px;
	padding: 20 20 0;
}

.contacts_list_ul{
	list-style: none;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	font-variant: all-petite-caps;
	padding-top: 20px;
	margin: 0;
	height: 130px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-left: 0;

}

.contacts_form{
	width: 40%;
	min-width: 280px;
	max-width: 400px;
	padding: 20 20 0;

}

.contacts_link{
	text-decoration: none;
	color: black;
	font-weight: 400;
}

.contacts_link:hover{
	text-shadow: 0px 0px 1px #4ac8ec;
}

.form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 500px;
	width: 100%;
}

.form_input{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid;
	border-color: black;
	border-width: 2px;
	height: 40px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.form_input:focus{
	outline: 0;
	outline-offset: 0;
	background-color: #F4F4F4;
}

.form_placeholder{
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
	font-variant: all-petite-caps;
	margin-top: -20px;
}

.form_text{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid black 2px;
	height: 100px;
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.form_text:focus{
	outline: 0;
	outline-offset: 0;
	background-color: #F4F4F4;
}

.form_button{
	height: 40px;
	font-family: 'Rubik', sans-serif;
	font-variant: all-petite-caps;
	font-weight: 300;
	font-size: 18px;
	color: white;
	background-color: black;
	border: none;
}

.footer{
	width: 100%;
	margin-top: 150px;
	height: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: black;
	color: white;
}

.footer_copyright{
	font-family: 'Rubik', sans-serif;
	font-variant: all-petite-caps;
	font-weight: 300;
	font-size: 14px;
	color: white;
	text-align:-moz-center;
    text-align:-webkit-center;
	text-align: center;
}

.toTop{
	position: fixed;
	bottom: 30px;
	right: 40px;
    padding: 0px;
    margin: 0;
    z-index:99991;
}

.toTop_link{
	font-family: 'Rubik', sans-serif;
	font-variant: all-petite-caps;
	font-weight: 300;
	font-size: 18px;
	color: white;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0;
    background: black;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration:none;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    text-align: center;
}

.toTop_link:hover{
	height: 100px;
    width: 100px;
    border-radius: 50px;
    background: #F65F3C;
    -webkit-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: white;
}

@media all and (max-width: 900px){
	.types_places_list_li{
		width: 150px;
		height: 280px;
	}

	.types_places_list_text{
		font-size: 16px;
	}
}


@media all and (max-width: 800px){
	.h3{
		font-size: 28px;
	}

	.types_places_list_text{
		font-size: 16px;
	}

	.type_sea_text_p{
		font-size: 16px;
	}

	.products_div_text_p{
		font-size: 16px;
	}

	.products_div_text_list{
		font-size: 16px;
	}
} 

@media all and (max-width: 559px){
	.contacts_list_ul{
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-top: 40px;
	}

	.footer{
		margin-top: 80px;
	}
}

@media all and (max-width: 538px){
	.products_image_key {
		display: none;
	}

	.products_div_order{
		padding-bottom: 7%;
	}
}

@media all and (max-width: 460px){

	.header_navigator{
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		height: 110px;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		padding-bottom: 10%;
	}
}

@media all and (max-width: 380px){
	.title{
		font-size: 50px;
	}

	.title_under{
		font-size: 20px;
	}
}

@media all and (max-width: 350px){

	.types_places_list_li{
		height: 200px;
		width: 250px;
	}
}

@media all and (max-height: 600px){
	.main_image{
		height: 400px;
	}

	.title{
		font-size: 50px;
	}

	.title_under{
		font-size: 20px;
	}
}

@media all and (max-height: 400px){
	.main_image{
		height: 300px;
	}
}